<div class="main">
    <div class="container">
        <div class="row form_container scroll">
            <div class="column1">
                <div class="card-1">
                    <h2>Task Manager</h2>
                    <p>
                    <h4>SignUp</h4>
                    <p>
                        <img src='./../../assets/Images/taskmanagericon.png' width="350px" height="320px">
                </div>
            </div>
            <div class="column2">
                <span class="prev_button" routerLink="/employees"><i
                        class="fa-solid fa-arrow-left me-3"></i>Previous</span>
                <div class="text-center mt-3"><b>Welcome</b></div>
                <div class="text-center pb-3">SignUp to continue using</div>

                <div class="card-2 mb-4">
                    <form [formGroup]="form">
                        <div class="formrow form d-flex">
                            <div class="form_field_left leftformfield leftgroup">

                                <div class="form-group">

                                    <input type="text " formControlName="name" placeholder="Enter Username"
                                        class="form-control" name="name" id="name" size="30" required>
                                    <div class="name_valid name name1">
                                        <div class="text-danger "
                                            *ngIf="form.controls['name']?.invalid && form.controls['name'].touched"
                                            class="">
                                            <small class="name_ text-danger smallText mb-4 "
                                                *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')">name
                                                is required.</small>
                                            <small class="name_ text-danger smallText mb-4"
                                                *ngIf="form.get('name')?.touched && form.get('name')?.hasError('minlength')">at
                                                least 7 characters
                                                is required.</small>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <input type="text" formControlName="email" placeholder="Enter Email"
                                        class="form-control mt-3" name="email" id="email" required>
                                    <div class="email_valid email email1 ">
                                        <div class="text-danger"
                                            *ngIf="form.controls['email']?.invalid && form.controls['email'].touched"
                                            class="">
                                            <small class="text-danger smallText "
                                                *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">Email
                                                is required.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <input type="text" formControlName="contact" placeholder="Enter Mob No."
                                        name="contact" class="form-control mt-3 " id="contact" required>
                                    <div class="mobile_valid mob mob1">
                                        <div class="text-danger"
                                            *ngIf="form.controls['contact']?.invalid && form.controls['contact'].touched"
                                            class="">
                                            <small class="text-danger smallText "
                                                *ngIf="form.get('contact')?.touched && form.get('contact')?.hasError('required')">Mob
                                                No
                                                is required.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <input type="text " formControlName="address" placeholder="Enter address"
                                        class="form-control mt-3" name="address" id="address" size="30" required>
                                    <div class="add_valid addresss address1">
                                        <div class="text-danger"
                                            *ngIf="form.controls['address']?.invalid && form.controls['address'].touched"
                                            class="">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form_field_right ms-2 rightformfield rightgroup">
                                <div class="form-group">

                                    <input type="password" formControlName="password" placeholder="Enter Password"
                                        name="password" class="form-control" id="password" size="30" required>
                                    <div class="password_valid password password1">
                                        <div class="text-danger"
                                            *ngIf="form.controls['password']?.invalid && form.controls['password'].touched"
                                            class="">
                                            <small class="text-danger smallText "
                                                *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">Password
                                                is required.</small>
                                            <small class="text-danger smallText"
                                                *ngIf="form.get('password')?.touched && form.get('password')?.hasError('minlength')">
                                                at least 6 characters is required.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mt-3 role _role ">
                                    <select [(ngModel)]="roles" formControlName="roleId"
                                        class="form-select  form-select-lg mb-3 " aria-label=".form-select-lg example">
                                        <option [value]="0" [disabled]="true" [selected]="true">
                                            Select RoleIds
                                        </option>
                                        <option *ngFor="let item of roles_items" value="{{item.value}}">
                                            {{item.name}}
                                        </option>
                                    </select>


                                </div>

                                <div class="form-group mt-3 dept _dept ">
                                    <select [(ngModel)]="department" formControlName="deptId"
                                        class="form-select form-select-lg mb-3 " aria-label=".form-select-lg example">
                                        <option [value]="0" [disabled]="true" [selected]="true">
                                            Select Department
                                        </option>
                                        <option *ngFor="let item of department_items" value="{{item.value}}">
                                            {{item.name}}
                                        </option>

                                    </select>
                                </div>

                                <div class="form-group mt-3 dateNo _dateNo">
                                    <input [(ngModel)]="date" formControlName="joinDate" type="Date"
                                        placeholder=" Joining Date" name="joinDate" title="Joining Date"
                                        class="form-control mt-3" id="Joining Date" size="30">
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center label1">
                            <label for="gender">Gender</label>
                            <form [formGroup]="form">
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" formControlName="gender" value="male" name="gender"
                                            checked>Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" formControlName="gender" value="female" name="gender">Female
                                    </label>
                                </div>
                            </form>
                        </div>
                        <hr>
                    </form>
                    <button type="submit" class=" buttons  button-23 signupbutton" (click)="SignUp()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>