* {
  box-sizing: border-box
}

.main {
  background-color: #e2eafc;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* .container {
   background-color:white;
   height: 100vh;
   height: 95%;
   margin-top: 23px;
   margin-bottom: 30px;
 } */


.column1 {
  height: 650px;
  width: 40%;
  background: white;
  border-radius: 30px 0 0 30px;
}

.form_container {
  margin-top: 12%;
  float: left;

}

.column2 {
  float: left;
  height: 650px;
  width: 60%;
  background: #4A52BC;
  border-radius: 0 30px 30px 0;

}

.row {
  margin-top: 14.8%;
  margin-bottom: 10%;
  margin-left:10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-1 {
  padding-top: 55%;
  margin-left: 15%;
}

.card-2 .form-group ::placeholder {
  color: white;

}

.card-2 {
  margin: 0 5% 0 5%;
  background-color: #7C81CE;
  width: 90%;
  height: 80%;
  border-radius: 30px 30px 30px 30px;
  border: 1px solid #fff;

  /* margin-top: 0%; */
}

.card-2 input {
  background-color: #7C81CE;
  border-color: #fff;
}

img,
svg {
  margin-top: 7%;
  margin-left: -8%;
}

.email_valid,
.name_valid,
.mobile_valid,
.password_valid,
.add_valid {
  height: 20px;

}

/* .text input{
  border-color: #fff;
} */

.button-23  {
 background-color: #FFFFFF;
  border-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #7f6bf5;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto-slab,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 10px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin-left:41%;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  transform: scale(.96);
}

input[type=text],
input[type=password] {
  width: 100%;
  display: inline-block;

}

form {
  margin: 0.9rem;
}

.form_field_left {
  margin: 1%;
  margin-top: 4%;
  margin-left: 4%;
}

.form_field_right {
  margin: 1%;
  margin-top: 4%;
  margin-right: 4%;
}

.signin {
  margin-left: 31%;
  margin-top: 2%;
  color: #fff;
  font-family: Roboto-slab;
  font-weight: 400;
}

.form-select {
  background-color: #7C81CE;
  width: 100%;
  padding: 6px;
  /* margin: 2px 3px 5px 0; */
  display: inline-block;
  font-size: 1rem;
  border-color: #fff;
  color:#fff;
  font-family: Roboto-slab;
  font-weight: 400;
}
.mb-3 {
  margin-bottom: 1.2rem !important;
}

input[type="radio"] {
  margin: 0 5px 0 6px;
}

.text-danger {
  color: red !important;
}

a {
  color: white;
}

.h2,
h2 {
  font-size: 2.5rem;
  margin-top: -50%;
  margin-left: 8%;
  color: #4A52BC;
  font-family: Roboto-slab;
  font-weight: 800;
}

.h4,
h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-right: 16%;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.8;
  color: grey;
  font-family: Roboto-slab;
  font-weight: 500;
}

b,
strong {
  font-weight: bolder;
  color: white;
  font-weight: 800;
  font-family: Roboto-slab;
}

label {
  display: inline-block;
  color: white;
}

.text-center {
  text-align: center !important;
  color: white;
  font-family: Roboto-slab;
  font-weight: 400;
}

.form-control {
  color: #fff;
  font-family: Roboto-slab;
  font-weight: 500;
}

hr {
  margin: 1rem;
  color: white;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.role{
  height:21%;
}
.prev_button{
  height: 45px;
  width: 125px;
  background-color: #7C81CE;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  margin-top: 8px;
  position: absolute;
  border: 1px solid #fff;
  cursor: pointer;
  font-family: Roboto-slab;
}


@media screen and (max-width:360px) {
  h2 {
    color: black;
    font-weight: 400;
    text-align: center;
    margin-right: 25%;
    padding-top: 10%;
    display: none;
  }

  img,
  svg {
    height: 283px;
    width: 286px;
    margin-top:12%;
    display: none;
    /* margin-right:9%; */
  }
 .label1{
  margin-top:3%;
 }

  .column1 {
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display:none;
  }

   .column2 { 
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .scroll {
    display: block;
    padding: 5px;
    margin-top: 3px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin-left: 0px;
  }
  h4{
    display: none;
  }

  .leftformfield{
   margin-top: 8px;
   width: 100%;
   margin-right: 5%;
  }

  .rightformfield{
    margin-top:6%;
    width: 100%;
    margin-left: 2% !important;
   }

  .column2 {
    height: 128%;
  }

  .card-2 {
    height: 89% !important;
    overflow-x: hidden;
  }

  .formrow{
    flex-direction: column;
    margin-right: 5%;
  }

  .signinform{
   margin-left: 8% !important;
  }
  .formspace{
    margin-right: 2px;
    margin-left: 3px;
    margin-top: 4%;
  } 
  .row{
    margin-top: 3.8% !important;
    padding-bottom: 9%;
  }
  .buttons{
    padding:5px 10px;
        
  }

  ._name,._email,._mob,._address,._password{
    height:20px !important;
  }
}

@media screen and (max-width:768px){
  .signinlink{
      margin-left: 17%;
  }

  h2 {
    color: black;
    font-weight: 400;
    text-align: center;
    margin-right: 31%  !important;
    padding-top: 8%;
  }
  .row{
    margin-top: 15.8%;
    margin-left: 0px;
        margin-right: 0px;
  }
  img,
  svg {
    height: 249px  !important;
        width: 245px  !important;
        margin-top: 21%  !important;
        margin-left: -11%;
  }
 .leftgroup{
  margin-left:2% !important;
 }

 .rightgroup{
  margin-right:2%  !important;
 }
 .signupbutton{
margin-left:35% !important;
 }

 .name,.email,.password,.addresss,.mob{
  height:30px;
 }
 .role{
  height:21%;
 }
 .dept{
  height:21.5%;
 }
 .card-2{
  height:85%;
 }
 }

        
           