<!-- <div>
    <div class="container">
        <div class="text-center"><b>Welcome to Our Task Manager Website</b></div>
        <div class="text-center">Register here to continue using</div>
       
        <hr>
        <form [formGroup]="form">
            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a Profile Picture</h6>
                 <input _ngcontent-wkr-c0="" id="file" type="file"> -->
<!-- </div>
           <div class="form-group">
                <label for="Username"><b>Username</b></label>
                <input type="text" formControlName="username" placeholder="Enter Username" class="form-control"
                    name="username" id="username" required>
                <div class="text-danger" *ngIf="form.controls['username']?.invalid && form.controls['username'].touched"
                    class="">
                    <small class="text-danger smallText"
                        *ngIf="form.get('username')?.touched && form.get('username')?.hasError('required')">Username
                        is required.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="email"><b>Email</b></label>
                <input type="text" formControlName="email" placeholder="Enter email" class="form-control" name="email"
                    id="email" required>
                <div class="text-danger" *ngIf="form.controls['email']?.invalid && form.controls['email'].touched"
                    class="">
                    <small class="text-danger smallText"
                        *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">Email
                        is required.</small>
                    <small class="text-danger smallText" *ngIf="form.controls['email']?.errors?.['email']">Please,
                        enter valid email address.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="mobile_no"><b>Mob No.</b></label>
                <input type="text" formControlName="mobile_no" placeholder="Enter Mob No." name="mobile_no"
                    class="form-control" id="mobile_no" required>
                <div class="text-danger"
                    *ngIf="form.controls['mobile_no']?.invalid && form.controls['mobile_no'].touched" class="">
                    <small class="text-danger smallText"
                        *ngIf="form.get('mobile_no')?.touched && form.get('mobile_no')?.hasError('required')">Mob No
                        is required.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="pasword"><b>Password</b></label>
                <input type="password" formControlName="password" placeholder="Enter Password" name="password"
                    class="form-control" id="password" required>
                <div class="text-danger" *ngIf="form.controls['password']?.invalid && form.controls['password'].touched"
                    class="">
                    <small class="text-danger smallText"
                        *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">Password
                        is required.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm_pass"><b>Confirm_Password</b></label>
                <input type="password" formControlName="confirm_pass" placeholder="Enter Confirm_Password"
                    name="confirm_pass" class="form-control" id="confirm_pass" required>
                <div class="text-danger"
                    *ngIf="form.controls['confirm_pass']?.invalid && form.controls['confirm_pass'].touched" class="">
                    <small class="text-danger smallText"
                        *ngIf="form.get('confirm_pass')?.touched && form.get('confirm_pass')?.hasError('required')">Confirm_Password
                        is required.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="dept_id"><b>Dept_id</b></label>
                <input type="text" formControlName="dept_id" placeholder="Enter Dept_id" class="form-control"
                    name="dept_id" id="dept_id" required>
                <div class="text-danger" *ngIf="form.controls['dept_id']?.invalid && form.controls['dept_id'].touched"
                    class="">
                    <small class="text-danger smallText"
                        *ngIf="form.get('dept_id')?.touched && form.get('dept_id')?.hasError('required')">Not
                        Mandatory !</small>
                </div>
            </div>

            <div class="form-group">
                <label for="gender"><b>Gender</b></label>
                <form>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" checked>Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Female
                    </label>
                </form>
            </div>

            <hr>
        </form>
        <button type="submit" class="registerbtn" style="width: 90%;">Register</button>
        <div class="signin" style="width: 98%;">
            <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div>
    </div>
</div> -->

<div class="main">
    <div class="container">
        <div class="row form_container scroll formspace">
            <div class="column1">
                    <div class="card-1"> <h2>Task Manager</h2>
                    <p><h4>SignUp</h4><p>
                    <img src='./../../assets/Images/taskmanagericon.png' width="350px" height="320px">
                </div>
            </div>
            <div class="column2">
                <div class="text-center mt-3"><b>Welcome</b></div>
                <div class="text-center pb-3">SignUp to continue using</div>

                <div class="card-2 mb-4">
                    <form  [formGroup]="form">
                        <div class="formrow form d-flex">
                            <div class="form_field_left leftformfield leftgroup">

                                <div class="form-group">

                                    <input type="text " formControlName="username" placeholder="Enter Username"
                                        class="form-control" name="username" id="username" size="30" required>
                                    <div class="name_valid">
                                        <div class="text-danger "
                                            *ngIf="form.controls['username']?.invalid && form.controls['username'].touched"
                                            class="">
                                            <small class="name_ text-danger smallText mb-4"
                                                *ngIf="form.get('username')?.touched && form.get('username')?.hasError('required')">Username
                                                is required.</small>
                                                <small class="name_ text-danger smallText mb-4"
                                                *ngIf="form.get('username')?.touched && form.get('username')?.hasError('minlength')">at least 7 characters 
                                                is required.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ">

                                    <input type="text" formControlName="email" placeholder="Enter Email"
                                        class="form-control mt-3" name="email" id="email" required>
                                    <div class="email_valid">
                                        <div class="text-danger"
                                            *ngIf="form.controls['email']?.invalid && form.controls['email'].touched"
                                            class="">
                                            <small class="text-danger smallText"
                                                *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">Email
                                                is required.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <input type="text" formControlName="mobile_no" placeholder="Enter Mob No."
                                        name="mobile_no" class="form-control   mt-3" id="mobile_no" required>
                                    <div class="mobile_valid">
                                        <div class="text-danger"
                                            *ngIf="form.controls['mobile_no']?.invalid && form.controls['mobile_no'].touched"
                                            class="">
                                            <small class="text-danger smallText"
                                                *ngIf="form.get('mobile_no')?.touched && form.get('mobile_no')?.hasError('required')">Mob
                                                No
                                                is required.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <input type="text " formControlName="Address" placeholder="Enter Address"
                                        class="form-control mt-3" name="Address" id="Address" size="30" required>
                                    <div class="add_valid">
                                        <div class="text-danger"
                                            *ngIf="form.controls['Address']?.invalid && form.controls['Address'].touched"
                                            class="">
                                            <small class="text-danger smallText  "
                                                *ngIf="form.get('Address')?.touched && form.get('Address')?.hasError('required')">Address
                                                is required.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form_field_right ms-2 rightformfield rightgroup">
                                <div class="form-group">

                                    <input type="password" formControlName="password" placeholder="Enter Password"
                                        name="password" class="form-control" id="password" size="30" required>
                                    <div class="password_valid">
                                        <div class="text-danger"
                                            *ngIf="form.controls['password']?.invalid && form.controls['password'].touched"
                                            class="">
                                            <small class="text-danger smallText"
                                                *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">Password
                                                is required.</small>
                                                <small class="text-danger smallText"
                                                *ngIf="form.get('password')?.touched && form.get('password')?.hasError('minlength')">Password
                                                must be at least 6 characters.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mt-3">
                                    <select class="form-select form-select-lg mb-3 "
                                        aria-label=".form-select-lg example">
                                        <option selected>Roles</option>
                                        <option value="1">Admin</option>
                                        <option value="2">Employee/User</option>
                                        <option value="3">HR</option>
                                        <option value="3">Manager</option>
                                    </select>

                                </div>

                                <div class="form-group mt-3">
                                    <select class="form-select form-select-lg mb-3 "
                                        aria-label=".form-select-lg example">
                                        <option selected>Department name</option>
                                        <option value="1">IT</option>
                                        <option value="2">Finance</option>
                                        <option value="3">Production</option>
                                        <option value="4">Digital Marketing</option>
                                        <option value="5">Sales</option>
                                        <option value="6">Human Resources</option>
                                        <option value="7">Research & Development</option>
                                        <option value="8">Administration</option>
                                    </select>

                                </div>

                                <div class="form-group mt-3">

                                    <input type="Date" placeholder=" Joining Date" name="start_date"
                                        title="Joining Date" class="form-control mt-3" id="Joining Date" size="30">
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center label1">
                            <label for="gender">Gender</label>
                            <form>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" checked>Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio">Female
                                </label>
                            </form>
                        </div>

                        <hr>
                    </form> 
                    <button type="submit" class="registerbtn ">Sign Up</button>
                    <div class="signin signinform signinlink">
                        <p>Already have an account? <a href="#">Sign in</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 