<div class="main">
    <div class="container d-flex">
        <div class="card1">

            <h3>Task Manager</h3>
            <img src="../../assets/Images/Task-Manager.png">
        </div>

        <div class="card2 ">
            <h2>Welcome To<br>Organization!</h2>
            <p>Signup to continue using</p>
            <div class="card3">
                <form [formGroup]="registerForm">
                    <div class="form-group">
                        <div class="mb-1">
                            <input formControlName="name" type="name" class="form-control" id="exampleInputname1"
                                aria-describedby="nameHelp" placeholder="Enter name">
                            <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)"
                                class="text-danger text">
                                <span *ngIf="registerForm.controls?.['name']?.errors?.['required']">Name is
                                    Required</span>
                                <span *ngIf="registerForm.controls?.['name']?.errors?.['pattern']">Enter only Characters </span>
                            </div>
                        </div>
                        <div class="mb-1">
                            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                            <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
                                class="text-danger text">
                                <div><span *ngIf="registerForm.controls?.['email']?.errors?.['required']">Email is
                                        Required</span>
                                    <span *ngIf="registerForm.controls?.['email']?.errors?.['pattern']">Email must be in
                                        proper format</span>
                                </div>
                            </div>
                            <!-- <label for="hint">Sample: harry@gmail.com</label> -->
                        </div>
                        <!-- <label for="hint">Sample: harry@gmail.com</label> -->
                        <div class="mb-1">
                            <input formControlName="contact" type="tel" class="form-control" id="exampleInputcontact1"
                                aria-describedby="contactHelp" placeholder="Enter contact.no">
                            <div *ngIf="registerForm.get('contact')?.invalid && (registerForm.get('contact')?.dirty || registerForm.get('contact')?.touched)"
                                class="text-danger text">
                                <div>

                                    <span *ngIf="registerForm.controls?.['contact']?.errors?.['required']">Contact.no is
                                        Required</span>
                                        <span *ngIf="registerForm.controls?.['contact']?.errors?.['pattern']">Please, Enter 10 digit Mobile Number.</span>
                                <span *ngIf="registerForm.controls?.['contact']?.errors?.['required']">Mobile.no is
                                        Required</span>
                                    <span *ngIf="registerForm.controls?.['contact']?.errors?.['pattern']">Please, Enter 10
                                        digit Mobile Number.</span>
                </div>
                            </div>
                        </div>
                        <div class="mb-1">
                            <textarea formControlName="address" style="resize: none; " type="address"
                                class="form-control" id="exampleInputaddress1" aria-describedby="addressHelp"
                                placeholder="Enter address" rows="3" cols="4"></textarea>
                            <div *ngIf="registerForm.get('address')?.invalid && (registerForm.get('address')?.dirty || registerForm.get('address')?.touched)"
                                class="text-danger text">
                                <div>
                                    <span *ngIf="registerForm.controls?.['address']?.errors?.['required']">Address is
                                        Required</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-1">
                            <input [type]="FieldTextType ? 'text' : 'password'" formControlName="password"
                                type="password" class="form-control" id="exampleInputpassword1"
                                aria-describedby="passwordHelp" placeholder="Enter password">
                            <span class="password-icon"><i class="fa" [ngClass]="{
                                      'fa-eye-slash': !FieldTextType,
                                      'fa-eye': FieldTextType
                                    }" (click)="toggleFieldTextType()"></i>
                            </span>

                            <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
                                class="text-danger Ptext">
                                <div>
                                    <span *ngIf="registerForm.controls?.['password']?.errors?.['required']">Password is
                                        Required</span>

                                    <span *ngIf="registerForm.controls?.['password']?.errors?.['pattern']" style="font-size: 12px;">Password must contain at least 8 characters.In a
                                        combo of uppercase letters, lowercase letters, numbers, and 
                                        some special characters</span>
                                <span *ngIf="registerForm.controls?.['password']?.errors?.['pattern']">Password is
                                        not Valid</span>

                                </div>
                                <!-- <label for="hint">Sample: Harry@123</label> -->
                            </div>
                        </div>
                        <button type="button" [disabled]="registerForm.invalid"
                            (click)="orgRegisterData();registerForm.reset()">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>