<nav>
    <span>Dashboard</span>
    <div class="nav_items">

        <p class="showtime">Show time </p>

        <ul>

            <li type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight_notes"
                aria-controls="offcanvasRight_notes"><i class="fa-solid fa-note-sticky fs-4" pTooltip="Notes"
                    tooltipPosition="bottom"></i></li>
            <li><i class="fa-solid fa-calendar-days fs-4" pTooltip="work in progress" tooltipPosition="bottom"></i>
            
            </li>
            <li>
                <i class="fa-solid fa-circle-plus showMenuList fs-4" pTooltip="Create"
                    tooltipPosition="bottom"></i><label class="dropdown">

                    <input type="checkbox" class="dd-input" id="test">

                    <ul class="dd-menu " id="dd-menu" data-bs-toggle="dropdown">
                        <li routerLink="/addproject"><i class="fa-solid fa-plus pe-2"></i>Add Project</li>
                        <li routerLink="/add-task"><i class="fa-solid fa-plus pe-2"></i>Add Task</li>
                    </ul>

                </label>
            </li>

            <div>


            </div>
        </ul>
    </div>
</nav>
<!-- Toggle right off canvas -->
<div class="offcanvas offcanvas-end notes_toggle " tabindex="-1" id="offcanvasRight_notes"
    aria-labelledby="offcanvasRight_notesLabel">

    <span type="button" class="btn-close  toggle" data-bs-dismiss="offcanvas" aria-label="Close"></span>

    <div *ngIf="!toggleNote" class="offcanvas-header">
        <h5 class="offcanvas-title add_notes_heading fs-2 pb-2" id="offcanvasRight_notesLabel">Sticky Notes</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body">

        <span *ngIf="!toggleNote" type="button" (click)="visibleSidebar3 = true" class="add_task_button"
            (click)="toggelNoteSection()"><i class="fa-solid fa-plus fs-4 me-2 "></i>Add Notes</span>
        <div *ngIf="toggleNote" class="notes_content">
            <p-sidebar [(visible)]="visibleSidebar3" position="top" [baseZIndex]="100">
                <h1 class="notes_heading ">Add Notes</h1>
                <div class="notes_body">
                    <!-- <div class="notes_heading">Notes Details</div> -->
                    <textarea class="notes_textArea" [rows]="10" [cols]="120" pInputTextarea
                        [autoResize]="false"></textarea>
                    <p-button type="button" (click)="visibleSidebar3 = false" label="Save" styleClass="p-button-success"
                        (onClick)="showAddNotes()"></p-button>
                    <p-button type="button" (click)="visibleSidebar3 = false" label="Cancel"
                        styleClass="p-button-secondary" (onClick)="showAddNotes()"></p-button>
                </div>
            </p-sidebar>
        </div>

    </div>
</div>