<div class="main">

	<div class="container d-flex" style="background-color:white;padding: 20px;" scroll>
		<div class="card1">
			<h5 class="heading"> Please Enter your Login Details</h5>
			<form [formGroup]="loginForm">
				<div class="form-group">
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Email </label>
						<input formControlName='email' type="email" class="form-control" id="exampleInputEmail1"
							aria-describedby="emailHelp" placeholder="Enter email">
						<div class="valid_text">
							<div *ngIf="loginForm.get('email')?.invalid &&
						(loginForm.get('email')?.dirty ||
						loginForm.get('email')?.touched)" class="text-danger">
								<span *ngIf="loginForm.controls?.['email']?.errors?.['required']">Email is
									Required</span>
								<span *ngIf="loginForm.controls?.['email']?.errors?.['email']">Email must be in proper
									format</span>
							</div>
						</div>
					</div>
				</div>

				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input [type]="FieldTextType ? 'text' : 'password'" formControlName='password' type="password"
					class="form-control " id="exampleInputpassword1" aria-describedby="emailHelp"
					placeholder="Enter password">
				<div class="icon">
					<span class="password-icon"><i class="fa fa-eyeIcon" [ngClass]="{
							  'fa-eye-slash': !FieldTextType,
							  'fa-eye': FieldTextType
							}" (click)="toggleFieldTextType()"></i>
					</span>
				</div>

				<div class="valid_text">
					<div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
						class="text-danger text">
						<span *ngIf="loginForm.controls?.['password']?.errors?.['required']">Password is Required</span>
						<span *ngIf="loginForm.controls?.['password']?.errors?.['pattern']">
							Password not valid.
						</span>
					</div>
				</div>


				<div class="mt-3 d-flex justify-content-between">
					<div>
						<input type="checkbox">Remember Me
					</div>
					<div class=" password">

						<a href="#exampleModal" class="form-password" for="exampleCheck1" data-bs-toggle="modal"
							data-bs-target="#exampleModal">Forgot Password</a>
					</div>

				</div>



				<!-- try n check -->

				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="content-modal">
							<div class="modal-content">
								<div class="resetModal">
									<div class="modal-header heading">
										<div class="custom-modal">
											<h5 class="modal-title" id="exampleModalLabel">Reset your password</h5>
											<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button> -->

											<div class="main-modal">
												<div class="modal-body">
													<div class="email-body email-input">
														<form [formGroup]="resetForm">
															<div class="form-group">
																<label for="exampleEmail1">Email</label>
																<!-- <div class="email-input"> -->
																<input type="email" formControlName="email"
																	class="form-control" id="exampleEmail1"
																	placeholder="Enter email">
															</div>
															<div class="email-text">
																<div *ngIf="resetForm.get('email')?.invalid && (resetForm.get('email')?.dirty || resetForm.get('email')?.touched)"
																	class="text-danger">
																	<span
																		*ngIf="resetForm.controls?.['email']?.errors?.['required']">Email
																		is Required</span>
																	<span
																		*ngIf="resetForm.controls?.['email']?.errors?.['email']">
																		Email not valid.
																	</span>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>

											<div class="footer">
												<div class="modal-footer">
													<button type="button" class="btn-container1 foot closeButton"
														data-bs-dismiss="modal">Close</button>
													<button type="button" class="btn btn-container2 foot continueButton"
														[disabled]="resetForm.invalid">Continue</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="mb-3">
					<button type="button" class="btn" [disabled]="loginForm.invalid" (click)="loginUser()">SIGN
						IN</button>
				</div>
			</form>
		</div>


		<div class="box boxText">
			<div class="col-4 loginBox" style="padding: 20px;">
				<h4> "Let's conquer tasks with precision and purpose! Let's do this – one task at a time, with
					enthusiasm and determination!"</h4>
				<img src="../../assets/Images/Task-Manager.png">
			</div>
		</div>

		<svg style="visibility: hidden; position: absolute;" xmlns="http://www.w3.org/2000/svg" version="1.1">
			<defs>
				<filter id="round">
					<feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
					<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
						result="goo" />
					<feComposite in="SourceGraphic" in2="goo" operator="atop" />
				</filter>
			</defs>
		</svg>
	</div>
</div>
<p-toast></p-toast>