
body {
    overflow: hidden;
}

.main {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    background-color:#8285e4;;
}

.container {
    /* background-color: #000000; */
    border-radius: 25px;
    /* padding: 20px; */
    height: 90%;
    position: absolute;
    overflow: hidden;
    /* margin-top: 40px; */
    /* margin: 0 16%; */
    top: 50px;
}

.card1 {
    /* height: 100%; */
    width: 30%;
    position: relative;
    top: 27%;
    /* margin-bottom: 5px; */
    /* left: 10%; */
    margin: 0px 70px 40px 90px;
}

.card1 h5 {
    color: #4C50BF;
    margin-bottom: 7%;
    display: flex;
}

.card1 label {
    color: #4C50BF;
}

.card1 input {
    border: 1px solid black;
}


.card1 button {
    width: 100%;
    border-radius: 6px;
    background-color: #4C50BF;
    color: white;
    border: 1px solid black;
    font-weight: bold;
    margin: 20px 0;
    height: 40px;
}


.password-icon {
    float: right;
    position: relative;
    bottom: 29px;
    right: 10px
}

.fPassword-icon {
    float: right;
    position: relative;
    bottom: 33px;
    right: 10px;
}


/* Card Shape */
.box {
    width: 37%;
    height: 75%;
    background: #4C50BF;
    filter: url(#round);
    margin: 10%;
}

.box::before,
.box::after {
    position: absolute;
    width: 200px;
    height: 100px;
}

.box div {
    width: 80%;
    height: 80%;
    position: relative;
    top: -60px;
    background: inherit;
}

.box .col-4 h4 {
    margin: 20px;
    color: white;
}


.box img {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    margin-left: 19%;
}

.box svg {
    width: 20px;
    height: 20px;
}

.valid_text {
    height: 10px;
    width: 300px;
}

.mb-3 a {
    color: #494dc0;
    margin-left: 60%
}

.email-text {
    height: 35px;
    width: 300px;
}

@media (max-width: 360px) {


    .boxText{
        width: 80%;
        position: absolute;
        translate: -162px -54px;
    }

    .col-4 h4 {
        font-size: 20px;

    }

    .col-4 img {
        width: 67%;
        height: 52%;
        margin-top: 29%;
        margin-left: 16%;
    }

    .password a {
        position: absolute;
        left: 69%;
    }

    .container {
        overflow-y: scroll;
        flex-direction: column;
    }

    ::-webkit-scrollbar {
        display: none;
    } 

    .card1{
        position: absolute;
        margin: 20% 0 0 10%;
        left: 10px;
        top: 95%;
    }

    .container{
        overflow-y: scroll;
        flex-direction: column;
    }

    .col-4 img {
        width: 67%;
        height: 52%;
        margin-top: 29%;
        margin-left: 16%;
    }

    .card1 .fa-eyeIcon{
        position: absolute;
        padding: 1px;
        translate: 100px;    
      } 

      .content-modal{
        translate: -240px 30px;
        padding: 11px 15px;
        margin: 10px;
      }

      .modal-body{
       position: absolute;
        left: 7px;
      }

      .heading{
       padding: 1px;
       width: 300px;
      }

      .footer .closeButton{
        margin-right: 175px !important;

      }

      .footer .continueButton{
        right: 3px !important;
      }

      .footer .btn-container1{
        right: 23%;
       padding-right: 4px;
      }

      .footer .btn-container2{
        right: 15px;
      }

      .main{
        background-color: #F5F5F5;
      }

      .mb-3 .btn{
        margin-top: 40px;
      }
     
}

@media(max-width:768px)
{
    .col-4 h4 {
        font-size: large;

    }

    .col-4 img {
        margin-top: 20%;
        width: 70%;
        height: 60%;
    }

    .box{
        height: 600px;
        position: absolute;
        top: 12%;
        left: 45%;
    }

    .container{
      padding-top: 40px;
    }

    .form-password{
       margin-top: 7px;
       margin-left: 145px;
       float: left;
       width: 200px;
    }

    .card1{
        margin-left: 30px;
    }

    .card1 input{
        width: 275px;
    }

    .mb-3 .btn{
        width: 275px;
    }

    .resetModal{
        width: 100%;
        right: 60%;
       }
    
       .custom-modal{
        padding-right: 0px;
        margin-bottom: 55px;
     
       }
    
       .modal-body{
        padding: 0px;
        position: absolute;
        right: 20px;
       }

       .content-modal{
        width: 367px;
        position: relative;
        right: 70%;
        margin-bottom: 20px;
       }

      .email-body input{
        width: 285px;
        margin-left: 1px;
      }

      .footer .btn-container1{
        right: 23%;
       padding-right: 4px;
      }

      .footer .btn-container2{
        right: 15px;
      }

      .custom-modal h5{
        width: 187px;
        right: 20px;
        position: relative;
      }

      .fa{
        position: absolute;
        left: 40px;
        top: 3px;
      }

      .form-password a{
        position: absolute;
        left: 41%;
      }

     .foot{
        width: 22% !important ;
     }
    
}

/* Push the modal in center */

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 20%;
}

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    margin: 20px;
}

.modal .modal-content {
    padding: 20px 60px 60px 60px;
    margin: 40% 50% 40% 70%;
}

.modal-footer .btn-container1 {
    width: 17%;
    display: flex;
    margin-right: 48%;
    padding: 7px 20px;
    position: absolute;
    top: 65%;
}

.modal-footer .btn-container2 {
    width: 20%;
    padding: 10px 0 0 10px;
    padding: 6px 6px;
    position: absolute;
    top: 65%;
    margin-right: 5px;
}

.main-modal input{
    width: 320px;
}

.custom-modal h5{
    margin-left: 20%;
}

.btn[disabled] {
    background-color: #F5F5F5;
}

.btn-container2[disabled] {
    background-color: #F5F5F5;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

 
