<router-outlet></router-outlet>
<!-- <app-sign-in-page></app-sign-in-page> -->
<!-- <app-organization-register></app-organization-register> -->

<!-- <app-registration-form></app-registration-form> -->
 <!-- <app-reg-form></app-reg-form> -->
<!-- <app-dashboard></app-dashboard> -->
 <app-sidebar></app-sidebar>
  <!-- <app-admin-panel></app-admin-panel> -->
<!-- <app-registration-form></app-registration-form> -->
 <app-add-project></app-add-project>
  <!-- <app-reset-password></app-reset-password> -->
