<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
<nav class="sidebar">
  <header>
    <div class="image-text">
      <span class="image">
        <img src="https://static.vecteezy.com/system/resources/previews/026/334/879/non_2x/task-manager-icon-vector.jpg"
          alt="logo" />
      </span>
      <div class="text header-text">
        <span class="main">Task</span>
        <span class="sub">Manager</span>
      </div>
    </div>
    <div class="hide_icon" (click)="toggle=!toggle">
      <i class=" toggle_icon bx bx-chevron-right toggle " style="background-color: #9381ff;"></i>
    </div>
  </header>

  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">

        <li class="nav-link">
          <a>
            <i class=" bx bx-home-alt icons"></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-link">
          <a>
            <i class="bx bx-bar-chart-alt-2 icons"></i>
            <span class="text nav-text">Projects</span>
          </a>
        </li>
        <li class="nav-link">
          <a>
            <i class="bx bx-bell icons"></i>
            <span class="text nav-text">Leaves</span>
          </a>
        </li>
        <li class="nav-link">
          <a>
            <i class="bx bx-pie-chart-alt icons"></i>
            <span class="text nav-text">Events</span>
          </a>
        </li>
        <li class="nav-link">
          <a>
            <i class="bx bx-heart icons"></i>
            <span class="text nav-text">Overview</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="bottom-content">
      <li class="nav-link">
        <a>
          <i class="bx bx-log-out icons"></i>
          <span class="text nav-text">Log Out</span>
        </a>
      </li>

    </div>
  </div>
</nav>