.parent{
    margin-left: 15%;
    margin-top: 2%;
   
}
  
.page-title sup{
    color: gray;
    font-size: small;
}


.input-group{
    width: 20%;
}

.form-select-duration{
    font-size: small;
    color:gray ;  
 
}
.form-select-status{
    font-size: small;
    color:gray ;  
    width: 13%;
}

.form-control .rounded{
    padding: 3px 4px;
}

.fas{
    margin-right: 12px;
    position: relative;
    top: 5px;
}

.btn-light{
    margin-left: 20px;
    border: 1px solid black;
}

.offcanvas.show {
    transform: none;
    width: 84%;
}

.offcanvas-title{
    font-weight: bold;
}

.offcanvas-body{
    margin-left: 40px;
}
.input-category{
    width: 95%;
}
.btn-outline-secondary{

}

.form-check{
    margin-top: 27px;
}

.form-check-input{
    width: 22px;
    height: 22px;
}
.form-check-label{
    
    margin:4px;
    font-size: small;
}

.rounded-circle{
    width: 50%;
}

#inputGroupSelect05{
width: 98%;
}

#inputGroupSelect06{
    width: 98%;
}

/* #inputGroupSelect06 ::placeholder{
    padding-top: 12px;
    position: absolute;
    top: 12px;
} */

#saveButton{
    width: 6%;
}

#cancelButton{
    width: 6%;
}

/* .ng-select.ng-select-multiple
{
    top: 12px;
    padding-bottom: 5px;
    padding-left: 3px;
} */

.ng-select.ng-select-multiple .ng-placeholder{
    position: absolute;
    top: 12px ;
}