<div class="parent">
   <!-- <div class="page-title">
      <h6>Projects <sup>Home<span class="bullet">.</span>Projects</sup></h6>

   </div> -->
   <div class="row">
      <div class="col d-flex" style="margin-top: 60px;">
         <div class="input-group mt-4">
            <div class="input-group-prepend">
               <span class="input-group-text" id="duration">Duration</span>
            </div>
            <select class="form-select-duration">

               <option selected disabled>Start Date to End Date</option>
               <option value="2">Today</option>
               <option value="3">Last 30 Days</option>
               <option value="4">This Month</option>
               <option value="5">Last Month</option>
            </select>
         </div>

         <div class="input-group mt-4">
            <div class="input-group-prepend">
               <span class="input-group-text" id="status">Status</span>
            </div>
            <select class="form-select-status">

               <option selected disabled>All</option>
               <option value="Overdue">Overdue</option>
               <option value="In Progress">In Progress</option>
               <option value="Not Started">Not Started</option>
               <option value="On Hold">On Hold</option>
               <option value="Cancelled">Cancelled</option>
               <option value="Completed">Completed</option>
            </select>

         </div>

         <div class="input-group mt-4">
            <i class="fas fa-search mt-2 mr-2"></i>
            <input type="search" class="form-control rounded" id="search-field" placeholder="Start typing to search"
               aria-label="Search" aria-describedby="search-addon" />
            <!-- <span class="input-group-text border-0" id="search-addon">
            </span> -->
         </div>

      </div>
   </div>

   <div class="row">
      <div class="col d-flex mt-4">

         <button type="button" class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">+ Add Project</button>
         <button type="button" class="btn btn-light">Import</button>



         <div class="offcanvas offcanvas-end" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">


            <span type="button" class="btn-close toggle" data-bs-dismiss="offcanvas" aria-label="Close"></span>


            <div class="offcanvas-header">
               <h5 class="offcanvas-title" id="offcanvasRightLabel">Add Project</h5>
            </div>





            <div class="offcanvas-body">
               <h5> Project Details </h5>
               <form [formGroup]="projectDetails">
                  <div class="row">
                     <div class="col mt-5">
                        <div class="form-group">
                           <label for="exampleFormControlInput1" class="required">Project Name</label>
                           <input type="text" class="form-control" placeholder="Write a project name"
                              id="inputGroupSelect01" formControlName="projectName">
                        </div>
                        <div class="valid-text">
                           <div
                              *ngIf="projectDetails.get('projectName')?.invalid && (projectDetails.get('projectName')?.touched || projectDetails.get('projectName')?.dirty)"
                              class="text-danger text">
                              <span *ngIf="projectDetails.controls?.['projectName']?.errors?.['required']">Project
                                 Name
                                 is required</span>
                           </div>
                        </div>
                     </div>

                     <div class="col mt-5">
                        <div class="form-group">
                           <label for="exampleFormControlInput1" class="required">Project Category</label>
                           <div class="input-category d-flex">
                              <select class="form-select" id="inputGroupSelect02"
                                 aria-label="Example select with button addon" formControlName="projectCategory">
                                 <option selected>Choose...</option>
                                 <option value="Web App">Web App</option>
                                 <option value="App">App</option>
                                 <option value="Admin Panel">Admin Panel</option>
                              </select>
                              <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal"
                                 data-dismiss="modal" data-bs-target="#exampleModal1">Add</button>
                           </div>
                        </div>
                        <div class="valid-text">
                           <div
                              *ngIf="projectDetails.get('projectCategory')?.invalid && (projectDetails.get('projectCategory')?.touched || projectDetails.get('projectCategory')?.dirty)"
                              class="text-danger text">
                              <span *ngIf="projectDetails.controls?.['projectCategory']?.errors?.['required']">Project
                                 Category is required</span>
                           </div>
                        </div>

                     </div>
                  </div>

                  <!-- <div class="container"  style='margin-left:5px;'> -->
                  <div class="row">
                     <div class="col-sm mt-5">

                        <label for="exampleFormControlInput1" class="required">Start Date</label>
                        <!-- <input type="date" class="form-control" id=date placeholder="Select Date" formControlName="startDate"> -->
                        <input placeholder="Select start date" class="form-control" type="date"
                           onfocus="(this.type='date')" onblur="(this.type='text')" id="date"
                           formControlName="startDate" />

                        <div class="valid-text">
                           <div
                              *ngIf="projectDetails.get('startDate')?.invalid && (projectDetails.get('startDate')?.dirty || projectDetails.get('startDate')?.touched)"
                              class="text-danger text">
                              <span *ngIf="projectDetails.controls?.['startDate']?.errors?.['required']">Start date
                                 is
                                 required</span>
                           </div>
                        </div>
                     </div>

                     <div *ngIf="!isShown" class="col-sm mt-5">
                        <label for="exampleFormControlInput1" class="required">Deadline</label>
                        <input type="date" class="form-control" id="deadline" placeholder="Select end date"
                           formControlName="endDate" />
                        <div class="valid-text">
                           <div
                              *ngIf="projectDetails.get('endDate')?.invalid && (projectDetails.get('endDate')?.touched || projectDetails.get('endDate')?.dirty)"
                              class="text-danger text">
                              <span *ngIf="projectDetails.controls?.['endDate']?.errors?.['required']">End date is
                                 required</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm mt-5">

                        <div class="form-check">
                           <input class="form-check-input" (click)="toggleShow()" type="checkbox" value=""
                              id="flexCheckDefault">
                           <label class="form-check-label" for="flexCheckDefault">
                              There is no project deadline
                           </label>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col mt-5">
                        <label for="exampleFormControlInput1" class="required">Department</label>
                        <div class="input-department d-flex">
                           <select class="form-select" id="inputGroupSelect03"
                              aria-label="Example select with button addon" formControlName="department">
                              <option selected>Choose...</option>
                              <option value="IT">IT</option>
                              <option value="Civil">Civil</option>
                              <option value="IT">Digital Marketing</option>
                              <option value="Civil">Production</option>
                           </select>
                        </div>
                        <div class="valid-text">
                           <div
                              *ngIf="projectDetails.get('department')?.invalid && (projectDetails.get('department')?.touched || projectDetails.get('department')?.dirty)"
                              class="text-danger text">
                              <span *ngIf="projectDetails.controls?.['department']?.errors?.['required']">Department is
                                 Required</span>
                           </div>
                        </div>
                     </div>

                     <div class="col mt-5">
                        <label for="exampleFormControlInput1">Client</label>
                        <div class="input-category d-flex">
                           <select class="form-select" id="inputGroupSelect04"
                              aria-label="Example select with button addon">
                              <option selected>Choose...</option>
                              <option value="One">One</option>
                              <option value="Two">Two</option>
                              <option value="Three">Three</option>
                           </select>
                           <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal"
                              data-dismiss="modal" data-bs-target="#exampleModal2">Add</button>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col mt-5">
                        <p class="summary">Project Summary
                        <p>
                           <quill-editor id="text-editor" placeholder="Enter Text" [modules]="modules"
                              (onSelectionChanged)="logChange($event)"></quill-editor>
                     </div>
                  </div>


                  <div class="row">
                     <div class="col mt-5">
                        <label for="exampleFormControlInput1" class="required">Add Project Members</label>
                        <br />
                        <ng-select id="inputGroupSelect06" [multiple]="true" [hideSelected]="true"
                           [closeOnSelect]="false" [items]="source" bindValue="value" bindLabel="name"
                           placeholder="Select members" formControlName="projectMembers">

                        </ng-select>
                        <br />
                     </div>
                     <div class="members-text">
                        <div
                           *ngIf="projectDetails.get('projectMembers')?.invalid && (projectDetails.get('projectMembers')?.touched || projectDetails.get('projectMembers')?.dirty)"
                           class="text-danger text">
                           <span *ngIf="projectDetails.controls?.['projectMembers']?.errors?.['required']">Project
                              Members is required</span>
                           <!-- <span *ngIf="projectDetails.controls?.['projectMembers']?.errors?.['minlength']">Select atleast 1 member  -->
                           <!-- </span> -->
                        </div>
                     </div>
                  </div>
                  <div>

                  </div>

                  <div class="row">
                     <div class="col mt-5">
                        <div class="buttons">
                           <button type="button" class="btn btn-primary" id="saveButton" (click)=" onFormSubmit()"
                              (click)="projectCred()"> ✓ Save</button>
                           <button type="button" class="btn btn-light" id="resetButton" (click)="resetData()">Reset
                              Form</button>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <!-- <button type="button" class="btn btn-light">Import</button> -->
      </div>


      <div class="row">
         <div class="col mt-4">
            <table class="table table-bordered">
               <thead>
                 <tr>
                   <th scope="col">Id</th>
                   <th scope="col">Code</th>
                   <th scope="col">Project Name</th>
                   <th scope="col">Members</th>
                   <th scope="col">Start Date</th>
                   <th scope="col">Deadline</th>
                   <th scope="col">Client</th>
                   <th scope="col">Status</th>
                   <th scope="col">Actions</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <th scope="row">1</th>
                   <td>Mark</td>
                   <td>Otto</td>
                   <td>@mdo</td>
                 </tr>
                 <tr>
                   <th scope="row">2</th>
                   <td>Jacob</td>
                   <td>Thornton</td>
                   <td>@fat</td>
                 </tr>
                 <tr>
                   <th scope="row">3</th>
                   <td colspan="2">Larry the Bird</td>
                   <td>@twitter</td>
                 </tr>
               </tbody>
             </table>
         </div>
      </div>
   </div>
</div>



<div class="modal fade" id="exampleModal1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="custom-modal1">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Project Category</h5>
               <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button> -->
            </div>
            <div class="modal-body">

               <table class="table table-bordered">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Category Name</th>
                        <th class="text-action">Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <th scope="row">1</th>
                        <div class="category-edit">
                           <td>
                              <div>
                                 <p class="myDIV">mark</p>
                                 <span class="hide">Click to edit</span>
                              </div>
                           </td>

                           <td style="width: 50%;" class="text-right">
                              <button class="btn btn-light" type="button" data-placement="top" title="Delete"><i
                                    class="fa fa-trash"></i></button>
                           </td>
                        </div>
                     </tr>
                     <tr>
                        <th scope="row">1</th>
                        <div class="category-edit">
                           <td>
                              <div>
                                 <p class="myDIV">mark</p>
                                 <span class="hide">Click to edit</span>
                              </div>
                           </td>

                           <td class="text-right">
                              <button class="btn btn-light" type="button" data-toggle="tooltip" data-placement="top"
                                 title="Delete"><i class="fa fa-trash"></i></button>
                           </td>
                        </div>
                     </tr>
                     <tr>
                        <th scope="row">1</th>
                        <div class="category-edit">
                           <td>
                              <div>
                                 <p class="myDIV">mark</p>
                                 <span class="hide">Click to edit</span>
                              </div>
                           </td>

                           <td class="text-right">
                              <button class="btn btn-light" type="button" data-toggle="tooltip" data-placement="top"
                                 title="Delete"><i class="fa fa-trash"></i></button>
                           </td>
                        </div>
                     </tr>
                  </tbody>
               </table>

               <form [formGroup]="projectDetails">
                  <div class="mb-3">
                     <label for="exampleInput1" class="form-label" class="required">Project Category</label>
                     <input formControlName="projectCategory-modal"  type="text" id="exampleInput1" class="form-control" aria-describedby="emailHelp"/>
                     <div class="valid-text">
                        <div
                           *ngIf="projectDetails.get('projectCategory-modal')?.invalid && (projectDetails.get('projectCategory-modal')?.touched || projectDetails.get('projectCategory-modal')?.dirty)"
                           class="text-danger text">
                           <span *ngIf="projectDetails.controls?.['projectCategory-modal']?.errors?.['required']">Project
                              Category is required</span>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary" [disabled]="false">Save</button>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="exampleModal2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Hii</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" [disabled]="false">Save changes</button>
         </div>
      </div>
   </div>
</div>