<div class="row">
    <div class="col d-flex" style="margin-top: 60px;">
        <div class="input-group d-flex mt-4" style="margin-left: 16%;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="duration">Duration</span>
            </div>
            <select class="form-select-duration">

                <option selected disabled>Start Date to End Date</option>
                <option value="2">Today</option>
                <option value="3">Last 30 Days</option>
                <option value="4">This Month</option>
                <option value="5">Last Month</option>
            </select>

        </div>

        <div class="input-group mt-4">
            <div class="input-group-prepend">
                <span class="input-group-text" id="status">Status</span>
            </div>
            <select class="form-select-status">

                <option selected disabled>All</option>
                <option value="Overdue">Overdue</option>
                <option value="In Progress">In Progress</option>
                <option value="Not Started">Not Started</option>
                <option value="On Hold">On Hold</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Completed">Completed</option>
            </select>

        </div>

        <div class="input-group mt-4" style="margin-left:-6%;position: relative;">
            <i class="fas fa-search mt-2 mr-2"></i>
            <input type="search" class="form-control rounded" placeholder="Start typing to search" aria-label="Search"
                aria-describedby="search-addon">
            <span class="input-group-text border-0" id="search-addon" style="display: none;">
            </span>
        </div>


    </div>
</div>

<!-- add task form -->
<div class="row">
    <div class="col">


        <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight_addTask"
            aria-controls="offcanvasRight_addTask">+ ADD TASK</button>
    </div>
</div>
<div class="row">
    <div class="container">
        <table class="table table-bordered">
            <thead text-center>
                <tr>
                    <th scope="col" style="width:3%;">Id</th>
                    <th scope="col" style="width:8%;">Timer</th>
                    <th scope="col" style="width:11%;">Task</th>
                    <th scope="col" style="width:8%;">Completed On</th>
                    <th scope="col" style="width:8%;">Start Date</th>
                    <th scope="col" style="width:8%;">Due date</th>
                    <th scope="col" style="width:8%;">Hours Logged</th>
                    <th scope="col" style="width:8%;">Assigned To</th>
                    <th scope="col" style="width:8%;">Status</th>
                    <th scope="col" style="width:8%;">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row">1</th>
                    <td>
                        <div
                            class="flex flex-col items-center justify-center h-screen bg-background text-primary-foreground">
                            <div class="text-4xl font-bold mb-4" id="timer">{{ displayTime }}</div>
                            <div class="flex">
                                <button (click)="startTimer()"
                                    class="bg-primary text-primary-foreground rounded-lg">Start</button>
                                <button (click)="stopTimer()"
                                    class="bg-destructive text-destructive-foreground rounded-lg ">Stop</button>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td>--</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>

                        <select class="form-select example">
                            <option selected>In-Progress</option>
                            <option value="1">On Hold</option>
                            <option value="2">To-Do Task</option>
                            <option value="3">Completed</option>
                            <option value="4">Dev Testing</option>
                            <option value="4">Live Testing</option>
                        </select>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight_addTask"
    aria-labelledby="offcanvasRight_addTaskLabel">
    <span type="button" class="btn-close  toggle" data-bs-dismiss="offcanvas" aria-label="Close"></span>

    <div class="offcanvas-header">
        <h4 id="offcanvasRight_addTaskLabel"><b>Add Tasks</b></h4>


    </div>
    <div class="offcanvas-body">
        <h5>Task Info</h5>
        <form [formGroup]="Taskform">
            <div class="row">
                <div class="col1">
                    <div class="form-group">
                        <div class="_name">
                            <label for="task-name">Task Name<span class="text-danger"> *</span></label>
                            <input type="text " formControlName="Task_Name" placeholder="Enter Task Name"
                                class="form-control" name="Task Name" id="Task Name" required>

                            <div class="text-danger"
                                *ngIf="Taskform.controls['Task_Name']?.invalid && Taskform.controls['Task_Name'].touched"
                                class="">
                                <small class="text-danger smallText "
                                    *ngIf="Taskform.get('Task_Name')?.touched && Taskform.get('Task_Name')?.hasError('required')">This
                                    field
                                    is required.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col2">
                    <div class="form-group">
                        <label for="task-category">Task Category</label>
                        <select class="form-select example">
                            <option selected>--</option>
                            <option value="1">Frontend Developer</option>
                            <option value="2">Backend Developer</option>
                            <option value="3">Manual-Testing</option>
                            <option value="4">Automation Testing</option>
                        </select>
                        <!-- <label for="task-category">Task Category</label>
                        <div class="form-group">
                            <select [(ngModel)]="task-category" formControlName="Task_category" class="form-select mt-2"
                                aria-label=".form-select-lg example">
                                <option [value]="null" [disabled]="true" [selected]="true">
                                    Select 
                                </option>
                                <option *ngFor="let item of TaskCategory_items">
                                    {{item}}
                                </option>
                            </select>
                        </div> -->
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="col3">
                    <div class="form-group">
                        <label for="proj-name">Project Name</label>
                        <input type="text " formControlName="Project_Name" placeholder="Enter Project Name"
                            class="form-control" name="Project Name" id="Project Name" required>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col4">
                    <div class="form-group">
                        <div class="_startdt">
                            <label for="start date">Start Date<span class="text-danger"> *</span></label>
                            <input type="date" formControlName="Start_Date" type="Date" placeholder=" Select Start Date"
                                name="Start Date" class="form-control">
                            <div class="text-danger"
                                *ngIf="Taskform.controls['Start_Date']?.invalid && Taskform.controls['Start_Date'].touched"
                                class="">
                                <small class="text-danger smallText "
                                    *ngIf="Taskform.get('Start_Date')?.touched && Taskform.get('Start_Date')?.hasError('required')">This
                                    field
                                    is required.</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!this.togglepattern" class="col5">
                    <div class="form-group">
                        <div class="_enddt">
                            <label for="start date">End Date<span class="text-danger"> *</span></label>
                            <input type="date" formControlName="End_Date" type="Date" placeholder="Select End Date"
                                name="End Date" class="form-control">
                            <div class="text-danger"
                                *ngIf="Taskform.controls['End_Date']?.invalid && Taskform.controls['End_Date'].touched"
                                class="">
                                <small class="text-danger smallText "
                                    *ngIf="Taskform.get('End_Date')?.touched && Taskform.get('End_Date')?.hasError('required')">This
                                    field
                                    is required.</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" (click)="Seetoggle()" value=""
                            id="checkboxdefault">
                        <label class="form-check-label" for="checkboxdefault">
                            Without Due Date
                        </label>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col7">
                    <div class="form-group">

                        <p>Task Description</p>
                        <quill-editor id="text-editor" placeholder="Enter Text" [modules]="modules"
                            (onSelectionChanged)="logChange($event)" style="width: 100%;height:100px"></quill-editor>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col8">
                    <div class="form-group">
                        <label for="Add Task Members">Task Assigned To</label>
                        <ng-select id="selectinput" [multiple]="true" [hideSelected]="true" [closeOnSelect]="false"
                            [items]="source" bindValue="value" bindLabel="name" placeholder="Select here"
                            formControlName="Task_Members">
                        </ng-select>

                    </div>
                </div>

                <div class="col9">
                    <div class="form-group">
                        <label for="Task priority">Task Priority</label>
                        <select class="form-select example">
                            <option value="1">High</option>
                            <option value="2">Medium</option>
                            <option value="3">Low</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col10">
                    <div class="form-group">

                        <button id="save" name="save" class="btn btn-primary" value="1" style="margin-top: 40px;"
                            (click)="saveTaskFormData()"><i class="fa fa-check"></i>Save</button>
                        <button id="cancel" name="cancel" class="btn btn-white"
                            style="margin-left: 1%; margin-top: 40px;border-color: black;" value="1"
                            (click)="ResetTaskData()">Reset</button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>