*{
    box-sizing: border-box;
}
 .btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    margin-top: 25px;
    margin-left:16%;
}

.offcanvas.show{
	width: 85%;
    background-color:white;
}  

.col1{
   width:50%;
   margin-top:40px;
}

.col2{
    margin-top:40px;
    width:50%;
 }
 
label{
    margin-bottom:10px;
    
}

.col3{
   margin-top:40px;
   width:50%;
}

.col4{
    margin-top:40px;
    width:25%;
}

.col5{
    margin-top:40px;
    width:25%;
}
.col6{
    margin-top:77px;
    width:25%;
}

.col7{
    margin-top:40px;
}

.col8{
    margin-top:40px;
    width:50%;
}

.col9{
    margin-top:40px;
    width:50%;
}

/* .col10{
    /* margin-top:40px;
    width:50%; */


 .input-group{
    width: 20%;
}

.form-check-input {
    width: 20px;
    height: 20px;
    margin-top: .25em;
    border: 1px solid rgba(0, 0, 0, .25);
}

.form-select-duration{
    font-size: small;
    color:gray ;  

}
.form-select-status{
    font-size: small;
    color:gray ;  
    width: 13%;
}

.form-control .rounded{
    padding: 3px 4px;
}

.fas{
    margin-right: 12px;
    position: relative;
    top: 5px;
}

  .toggle {
    position: absolute;
     top: 5%;
     right: 100%;
    height: 36px;
    width: 47px;
    opacity: 1;
    background-color: #B8B8FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-top-left-radius: 50%; 
    border-bottom-left-radius: 50%; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
  }

 .btn:hover{
background-color: #25282b;
color: #fff;
  }

  ._name{
    height:0px;
  }
  ._startdt,._enddt{
    height: 72px;
  }
 
  .form-check-label{
    margin-left:6px;
  }

  .table {
    margin-left: 16%;
    margin-top: 3%;
    width:80%;
  }

  /* #selectinput ::placeholder{
position:absolute;
top:2px;
  } */
 
  .table>thead {
    text-align: center;
}

.table>tbody{
    text-align: center;
}
 
   
