@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

*,
:before,
:after {
  box-sizing: border-box;
  font-family: "Roboto Condensed", "Sans serif";
}
.profile_avatar {
  width: 50px;
  height: 50px;
}
.parent {
  width: 100%;
  /* / background-color: #1c4bb9; / */
  background-color: #e2eafc;
  height: 100vh;
  overflow: hidden;
}

input {
  outline: none;
  border: none;
}
.user_name {
  margin-top: 50px;
}
.body {
  width: 85%;
  height: 700px;
  margin-top: 4%;
  margin-left: 13%;
}

img {
  width: 100px;
  height: 100px;
}
.user_card_head {
  border-bottom: 3px solid #9994;
}
.user_card {
  width: 50%;
  height: 27vh;
  background-color: #f2eff888;
  border-radius: 10px;
  border: 3px solid #9994;
  margin-bottom: 5%;
}
/* .graph_one {
  display: block !important;
  box-sizing: border-box !important;
  height: 45vh !important;
  width: 380px !important;
} */
.contianer_graph_one {
  background-color: white;
  width: 85%;
  height: 85%;
  border-radius: 15px;
  box-shadow: 0 0 19px 12px rgba(112, 112, 112, 0.267);
}
.contianer_graph_two {
  background-color: white;
  width: 95%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 0 19px 12px rgba(112, 112, 112, 0.267);
}
.contianer_doughnut_graph_two {
  background-color: white;
  width: 85%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 0 19px 12px rgba(112, 112, 112, 0.267);
}
.graph_two {
  display: block !important;
  box-sizing: border-box !important;
  height: 100% !important;
  width: 100% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 0 0 19px 12px rgba(112, 112, 112, 0.267);
}
.linechart {
  width: 50%;
  height: 27vh;
  margin-left: 3%;

  background-color: #f2eff888;
  border: 3px solid #9994;
  border-radius: 15px;
  padding: 0px 15px;
}
.task_card {
  width: 100%;
  height: 460px;

  border: 3px solid #9994;
  border-radius: 15px;
}
.task_card_header {
  width: 100%;
  height: 18%;
  padding-left: 10px;
  padding-bottom: 15px;
  background-color: #f2eff888;
  /* / border-bottom: 3px solid #9994; / */
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.task_card_head_container {
  border-bottom: 3px solid #9994;
  width: 98%;
  height: 65px;
  margin: 0 9px 0 9px;
}
.task_card_body {
  width: 100%;
  height: 82%;
  margin-bottom: 4%;

  background-color: #f2eff888;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.today_task {
  height: 50px;
  width: auto;
  padding: 12px;
  background-color: #f8f7ff;
  border-radius: 10px;
}
.upcoming {
  height: 50px;
  width: 175px;
  padding: 12px;
  /* / background-color: #999999; / */
  font-style: bold;
}
.task_search {
  width: 370px;

  /* / border: none; / */
}
.search_bar_task {
  width: 415px;
  height: 42px;
  background-color: #f2eff888;

  border: 2px solid #b8b8ff;
}
.fa-regular {
  border: 2px solid #b8b8ff;
}
.task_card_table {
  width: 90%;
  height: 83%;
  padding: 1px 10px 15px 25px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 19px 12px rgba(112, 112, 112, 0.267);
}

.add_task_button {
  width: 115px;
  height: 50px;
  background-color: #9381ff;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.button-36 {
  /* / background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%); / */
  background-color: #9381ff;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 0.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* .button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
} */
.doughnut {

  position: relative;
  width: 100%;
  height: 460px;
  background-color: #f2eff888;
  border-radius: 10px;
  border: 3px solid #9994;
  margin-top: 10%;
}
.projectData {
  position: relative;
  width: 100%;

  position: relative;
  width: 100%;
  height: 460px;
  background-color: #f2eff888;
  border-radius: 10px;
  border: 3px solid #9994;
  margin-top: 10%;
}
.projectData {
  position: relative;
  width: 100%;

  height: 27vh;
  background-color: #f2eff888;
  border-radius: 10px;
  border: 3px solid #9994;
  margin-bottom: 8%;
}
.projectBody{
  padding: 30px;
}
.inProgressCount{
  margin-right: 90px
}
.projectCount{
  font-size:xx-large;
}
.table-responsive {
  width: 100%;
}
table {
  width: 100%;
}
.table_container {
  overflow-y: auto;
  height: 245px;
  position: absolute;
  width: 53%;
  /* / background-color: red; / */
}

tbody::-webkit-scrollbar {
  display: none;
}
td {
  font-size: large;
}

/* / start: Global / */

body {
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* / end: Global / */

/* / start: Avatar / */
.avatar-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}
.avatar {
  position: relative;
  transition: 0.2s;
}
.avatar:not(:first-child) {
  margin-left: -1.5rem;
}
.avatar:hover {
  z-index: 1;
  transform: translateY(-0.5rem);
}
.avatar-name {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 0.875rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.avatar-name::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: rotate(180deg) translateX(50%);
  border: 0.5rem solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent;
}
.avatar:hover .avatar-name {
  opacity: 1;
  visibility: visible;
}
.avatar img {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
}
/* / end: Avatar / */

/* / status section / */
div.container {
  /* margin: 34px auto;
  width: 260px; */
  background-color: transparent;
  margin: 0;
  padding-left: 0px;
}

div.dropdown {
  position: relative;
}

div.dropdown > div.caption {
  /* / background-color: #f2f2f2; / */
  padding: 11px 10px;
  /* / border-radius: 10px; / */
  cursor: pointer;
  width: 105px;
}
#priority {
  background-color: red;
}
#status {
  background-color: green;
}
#medium:active {
  background-color: #1100ff;
}

div.dropdown > div.list {
  position: absolute;
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 0 0 3px 3px;
  display: none;
}

div.dropdown > div.list > div.item {
  padding: 11px 24px;
  cursor: pointer;
}

div.dropdown > div.list > div.item.selected {
  font-weight: bold;
}

div.dropdown > div.caption:hover,
div.dropdown > div.list > div.item:hover {
  background-color: rgb(83, 161, 214);
  color: #fff;
}

div.dropdown.open > div.caption {
  border-radius: 3px 3px 0 0;
  border-bottom: solid 1px #999;
}

div.dropdown.open > div.list {
  display: block;
  z-index: 1;
}
.deptName {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* .button-36 {
    padding: 0 1.6rem;
  }
}

@media (min-width: 768px) {
  .fixed-brand {
    width: 250px;
  }

  #sidebar-wrapper {
    border-right: #999999;
    width: 250px;
  } */
}