<!-- Admin Panel code -->
<div *ngIf="toggleAdminPanel" class="parent d-flex justify-content-between">
    <div class="body position-relative">

        <div class="parent_container d-flex">

            <div class="table_data">
                <div class="table_data_header p-3 ">
                    <div class="table_data_head_container pb-2 d-flex justify-content-between">
                        <div class="container_task d-flex align_items-center">
                            <div class="add_emp px-3 fs-5 " (click)="addEmployee()">
                                <p><span class="btn_name">Add Employee</span><span class="btn_icon"><i
                                            class="fa-solid fa-user-plus"></i></span></p>
                            </div>
                            <div class="total_emp px-3 fs-5">
                                <p>Total Employees <span class="emp_count text-white p-2 rounded-3">{{this.empInfo ?
                                        this.empInfo.length:'00'}}</span></p>
                            </div>

                        </div>
                        <div class="search_box  ">
                            <div class=" search_bar_task bg-white  rounded-pill position-relative">
                                <form class="">
                                    <input type="text" placeholder="Search.." name="search"
                                        class="form-control task_search  ps-4  rounded-pill fs-5"
                                        [(ngModel)]="searchText" autocomplete="off"
                                        placeholder="Start searching for Employee">
                                    <span type="submit"><i
                                            class="fa fa-search  pe-1  position-absolute top-50 end-0 translate-middle"></i></span>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="table_data_body d-flex justify-content-center align_items-center align-items-center ">
                    <div class="table_data_table  fs-5 pl-3">

                        <div class="table-responsive">
                            <table class="table table-condensed table-striped fixed_header">
                                <thead class="BI_tablehead">
                                    <tr>
                                        <th class="number " style="width: 3%;">No.</th>
                                        <th class="name" style="width: 10%;">Full Name</th>
                                        <th class="email" style="width: 20%;">Email</th>
                                        <th class="gender" style="width: 10%;">Gender</th>
                                        <th class="dob" style="width: 10%;">D_O_B</th>
                                        <th class="join_date" style="width: 10%;">Join Date</th>
                                        <th class="department" style="width: 17%;">Department</th>
                                        <th class="role" style="width: 10%;">Role</th>
                                        <th class="actions" style="width: 10%;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="BI_tablebody ">
                                    <tr *ngFor="let item of empInfo | filter:searchText; let i = index">
                                        <td style="width: 3%;">{{i + 1}}</td>
                                        <td class="" style="width: 10%;">{{item.name}}</td>
                                        <td title={{item.email}}>{{item.email}}</td>
                                        <td style="width: 10%;">{{item.gender}}</td>
                                        <td style="width: 10%;">{{item.dob}}</td>
                                        <td style="width: 10%;">{{item.joinDate}}</td>
                                        <td style="width: 17%;">{{item.tblDept.deptName}}</td>
                                        <td style="width: 10%;">{{item.tblRole.roleName}}</td>
                                        <td style="width: 10%;">
                                            <span title="Edit"><i class="fa-solid fa-pencil ms-3  form_button"
                                                    (click)="patchFormData(item)"></i></span>
                                            <span title="Delete" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                (click)="empData(item)"><i
                                                    class="fa-solid fa-trash ms-4 form_button"></i></span>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td style="width: 3%;">1.</td>
                                        <td class="" style="width: 10%;">prince Palewar </td>
                                        <td title={{text}}>princepalewar123@gmail.com</td>
                                        <td style="width: 10%;">Male</td>
                                        <td style="width: 10%;">22-4-2016</td>
                                        <td style="width: 10%;">21-7-2013</td>
                                        <td style="width: 17%;">Information Technology</td>
                                        <td style="width: 10%;">Software Developer</td>
                                        <td style="width: 10%;">
                                            <span title="Edit"><i class="fa-solid fa-pencil ms-3  form_button"></i></span>
                                            <span title="Delete" data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-trash ms-4 form_button"></i></span>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<!--Delete Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><span>Are you sure?</span></p>
                <p>Do you want ot delete details of <span class="username_del fs-4">{{deleteEmpInfo.name}}</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="deleteEmpDetail()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Employee Form -->
<div class="main" *ngIf="toggleAddEmployeeForm">
    <div class="form_container">
        <div class="registration_heading heading">Register Employee</div>


        <!-- <br /><button *ngIf="url" (click)="delete()">delete</button> -->
        <form [formGroup]="regform" style="width: 100%; height: 100%;">
            <div class="formpage">
                <div class="image-container">
                    <label class="hoverable" for="fileInput">
                        <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" />
                        <div class="hover-text">Choose file</div>
                    </label>
                    <input id="fileInput" type="file" accept=".png, .jpg, .jpeg" [(ngModel)]="url" accept="image/*"
                        class="select-profile-picture" formControlName="profile" (change)="onSelectFile($event)" />
                </div>
                <!-- <img [src]="url" height="150"> <br />
                <input class="hover-text" type='file' (change)="onSelectFile($event)"> -->
                <div class="row">

                    <div class="col1">


                        <div class="form-group">

                            <label for="name">Full Name<span class="text-danger">*</span></label>
                            <input type="text " formControlName="name" placeholder="eg: John Doe"
                                class="form-control form_field" name="name" id="name" size="30" required>
                            <div class="name_valid">
                                <small class="text-danger"
                                    *ngIf="regform.get('name')?.invalid &&(regform.get('name')?.dirty || regform.get('name')?.touched)">
                                    <span *ngIf="regform.get('name')?.errors?.['required']">
                                        Name is Required.
                                    </span>
                                    <span *ngIf="regform.get('name')?.errors?.['pattern']">Enter proper format</span>
                                </small>
                            </div>
                        </div>
                    </div>


                    <div class="col2">

                        <div class="form-group">

                            <label for="password"> Password<span class="text-danger">*</span></label>
                            <input [type]="FieldTextType ? 'text' : 'password'" type="password"
                                formControlName="password" placeholder="eg: John@123" name="password"
                                class="form-control form_field" id="password" size="30" required>
                            <div class="icon">
                                <span class="password-icon"><i class="fa fa-eyeIcon" [ngClass]="{
                                              'fa-eye-slash': !FieldTextType,
                                              'fa-eye': FieldTextType
                                            }" (click)="toggleFieldTextType()"></i>
                                </span>
                            </div>
                            <div class="password_valid ">
                                <small class="text-danger smallText"
                                    *ngIf="regform.get('password')?.invalid &&(regform.get('password')?.dirty || regform.get('password')?.touched)">
                                    <span *ngIf="regform.get('password')?.errors?.['required']">
                                        Password is Required.
                                    </span>
                                    <span *ngIf="regform.get('password')?.errors?.['pattern']">Password is
                                        invalid</span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col3">


                        <div class="form-group">

                            <label for="Email"> Email<span class="text-danger">*</span></label>
                            <input type="text" formControlName="email" placeholder="eg: john@gmail.com"
                                class="form-control form_field" name="email" id="email" required>
                            <div class="email_valid ">
                                <small class="text-danger"
                                    *ngIf="regform.get('email')?.invalid &&(regform.get('email')?.dirty || regform.get('email')?.touched)">
                                    <span *ngIf="regform.get('email')?.errors?.['required']">
                                        Email is Required.
                                    </span>
                                    <span *ngIf="regform.get('email')?.errors?.['pattern']">Enter Valid email
                                        address</span>
                                </small>
                            </div>
                        </div>
                    </div>


                    <div class="col4">

                        <label for="roles">Roles<span class="text-danger">*</span></label>
                        <div class="form-group role_valid ">
                            <select [(ngModel)]="roles" formControlName="roleId" class="form-select mt-2"
                                aria-label=".form-select-lg example">
                                <option [value]="null" [disabled]="true" [selected]="true">
                                    Select Roles
                                </option>
                                <option *ngFor="let item of roles_items" value={{item.value}}>
                                    {{item.name}}
                            </select>
                            <div class=" ">
                                <div class="text-danger"
                                    *ngIf="regform.controls['roleId']?.invalid && regform.controls['roleId'].touched"
                                    class="">
                                    <small class="text-danger smallText "
                                        *ngIf="regform.get('roleId')?.touched && regform.get('roleId')?.hasError('required')">Roles
                                        is required.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col5">


                        <div class="form-group">

                            <label for="contact"> Contact No.<span class="text-danger">*</span></label>
                            <input type="text" formControlName="contact" placeholder="Enter Contact No." name="contact"
                                class="form-control form_field " id="contact" required>
                            <div class="contact_valid">
                                <small class="text-danger"
                                    *ngIf="regform.get('contact')?.invalid &&(regform.get('contact')?.dirty || regform.get('contact')?.touched)">
                                    <span *ngIf="regform.get('contact')?.errors?.['required']">
                                        Contact No is Required.
                                    </span>
                                    <span *ngIf="regform.get('contact')?.errors?.['pattern']">Enter proper contact
                                        no.</span>
                                </small>
                            </div>
                        </div>
                    </div>


                    <div class="col6">

                        <label for="Dept">Department<span class="text-danger">*</span></label>
                        <div class="form-group  dept_valid  ">
                            <select [(ngModel)]="department" formControlName="deptId" class="form-select mt-2"
                                aria-label=".form-select-lg example">
                                <option [value]="null" [disabled]="true" [selected]="true">
                                    Select Department
                                </option>
                                <option *ngFor="let item of department_items" value={{item.value}}>
                                    {{item.name}}
                                </option>
                            </select>
                            <div class="text-danger"
                                *ngIf="regform.controls['deptId']?.invalid && regform.controls['deptId'].touched"
                                class="">
                                <small class="text-danger smallText "
                                    *ngIf="regform.get('deptId')?.touched && regform.get('deptId')?.hasError('required')">Department
                                    is required.</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col7">


                        <div class="form-group">

                            <label for="address"> Address<span class="text-danger">*</span></label>
                            <input type="text " formControlName="address" placeholder="Enter address"
                                class="form-control form_field " name="address" id="address" size="30" required>
                            <div class="add_valid ">
                                <div class="text-danger"
                                    *ngIf="regform.controls['address']?.invalid && regform.controls['address'].touched"
                                    class="">
                                    <small class="text-danger smallText "
                                        *ngIf="regform.get('address')?.touched && regform.get('address')?.hasError('required')">Address
                                        is required.</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col8">

                        <label for="joinDate">Joining Date<span class="text-danger">*</span></label>
                        <div class="form-group joindate_valid ">
                            <input formControlName="joinDate" type="Date" name=" joinDate" title=" joinDate"
                                class="form-control form_field" size="30">

                            <div class="text-danger"
                                *ngIf="regform.controls['joinDate']?.invalid && regform.controls['joinDate'].touched"
                                class="">
                                <small class="text-danger smallText "
                                    *ngIf="regform.get('joinDate')?.touched && regform.get('joinDate')?.hasError('required')">Joining
                                    Date
                                    is required.</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col9">
                        <label for="dob">Birth Date<span class="text-danger">*</span></label>
                        <div class="form-group birthdate_valid">
                            <input formControlName="dob" type="Date" name="dob" class="form-control form_field" id="dob"
                                size="30">
                            <div class="text-danger"
                                *ngIf="regform.controls['dob']?.invalid && regform.controls['dob'].touched" class="">
                                <small class="text-danger smallText "
                                    *ngIf="regform.get('dob')?.touched && regform.get('dob')?.hasError('required')">Birth
                                    Date
                                    is required.</small>
                            </div>
                        </div>
                    </div>


                    <div class="col10">
                        <label for="gender">Gender<span class="text-danger">*</span></label>
                        <div class="form-group gender_valid">
                            <select [(ngModel)]="gender" formControlName="gender" class="form-select mt-2"
                                aria-label=".form-select-lg example">
                                <option [value]="null" [disabled]="true" [selected]="true">
                                    Choose gender
                                </option>
                                <option *ngFor="let item of gender_items">
                                    {{item}}
                                </option>
                            </select>
                            <div class="text-danger"
                                *ngIf="regform.controls['gender']?.invalid && regform.controls['gender'].touched"
                                class="">
                                <small class="text-danger smallText "
                                    *ngIf="regform.get('gender')?.touched && regform.get('gender')?.hasError('required')">Gender
                                    is required.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="button-23 addEmpbutton" (click)="AddEmployee() ">Add
                        Employee</button>
                    <button type="submit" class="button-23 resetbutton" (click)="resetForm()">Reset Form</button>
                    <button type="submit" class="button-23 resetbutton" (click)="addEmployee()">All Employees</button>
                </div>
            </div>
        </form>
    </div>
</div>




<!-- Update Employee Form Details-->
<div class="main" *ngIf="toggleUpdateEmployeeForm">
    <div class="form_container">
        <div class="registration_heading heading">Update Employee Details</div>
        <!-- <br /><button *ngIf="url" (click)="delete()">delete</button> -->
        <form [formGroup]="updateForm" style="width: 100%; height: 100%;">
            <div class="formpage">
                <div class="image-container">
                    <label class="hoverable" for="fileInput">
                        <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" />
                        <div class="hover-text">Choose file</div>
                    </label>
                    <input id="fileInput" type="file" accept=".png, .jpg, .jpeg" [(ngModel)]="url"
                        class="select-profile-picture" formControlName="profile" (change)="onSelectFile($event)">
                    <!-- <span class="message">Tap here to select your picture</span> -->
                </div>
                <div class="row">

                    <div class="col1">


                        <div class="form-group">

                            <label for="name">Full Name<span class="text-danger">*</span></label>
                            <input type="text" formControlName="name" placeholder="eg: John Doe"
                                class="form-control form_field" name="name" id="name" size="30" required>
                            <div class="name_valid">
                                <small class="text-danger"
                                    *ngIf="regform.get('name')?.invalid &&(regform.get('name')?.dirty || regform.get('name')?.touched)">
                                    <span *ngIf="regform.get('name')?.errors?.['required']">
                                        Name is Required.
                                    </span>
                                    <span *ngIf="regform.get('name')?.errors?.['pattern']">Enter proper format</span>
                                </small>
                            </div>
                        </div>
                    </div>


                    <div class="col2">

                        <!-- <div class="form-group">
                            <label for="password"> Password<span class="text-danger">*</span></label>
                            <input [type]="FieldTextType ? 'text' : 'password'" type="password"
                                formControlName="password" placeholder="eg: John@123" name="password"
                                class="form-control form_field" id="password" size="30" required readonly="readonly">
                            <div class="icon">
                                <span class="password-icon"><i class="fa fa-eyeIcon" [ngClass]="{
                                              'fa-eye-slash': !FieldTextType,
                                              'fa-eye': FieldTextType
                                            }" (click)="toggleFieldTextType()"></i>
                                </span>
                            </div>
                            <div class="password_valid ">
                                <small class="text-danger smallText"
                                    *ngIf="regform.get('password')?.invalid &&(regform.get('password')?.dirty || regform.get('password')?.touched)">
                                    <span *ngIf="regform.get('password')?.errors?.['required']">
                                        Password is Required.
                                    </span>
                                    <span *ngIf="regform.get('password')?.errors?.['pattern']">Password is
                                        invalid</span>
                                </small>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="row">
                    <div class="col3">


                        <div class="form-group">

                            <label for="Email"> Email<span class="text-danger">*</span></label>
                            <input type="text" formControlName="email" placeholder="eg: john@gmail.com"
                                class="form-control form_field" name="email" id="email" required readonly="readonly">
                            <div class="email_valid ">
                                <small class="text-danger"
                                    *ngIf="regform.get('email')?.invalid &&(regform.get('email')?.dirty || regform.get('email')?.touched)">
                                    <span *ngIf="regform.get('email')?.errors?.['required']">
                                        Email is Required.
                                    </span>
                                    <span *ngIf="regform.get('email')?.errors?.['email']">Enter Valid email
                                        address</span>
                                </small>
                            </div>
                        </div>
                    </div>


                    <div class="col4">

                        <label for="roles">Roles<span class="text-danger">*</span></label>
                        <div class="form-group role_valid ">

                            <select [(ngModel)]="roles" formControlName="roleId" class="form-select mt-2"
                                aria-label=".form-select-lg example">
                                <option [value]="null" [disabled]="true" [selected]="true">
                                    Select Roles
                                </option>
                                <option *ngFor="let item of roles_items" value={{item.value}}>
                                    {{item.name}}
                            </select>
                            <div class=" ">
                                <div class="text-danger"
                                    *ngIf="regform.controls['roleId']?.invalid && regform.controls['roleId'].touched"
                                    class="">
                                    <small class="text-danger smallText "
                                        *ngIf="regform.get('roleId')?.touched && regform.get('roleId')?.hasError('required')">Roles
                                        is required.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col5">


                        <div class="form-group">

                            <label for="contact"> Contact No.<span class="text-danger">*</span></label>
                            <input type="text" formControlName="contact" placeholder="Enter Contact No." name="contact"
                                class="form-control form_field " id="contact" required>
                            <div class="contact_valid">
                                <small class="text-danger"
                                    *ngIf="regform.get('contact')?.invalid &&(regform.get('contact')?.dirty || regform.get('contact')?.touched)">
                                    <span *ngIf="regform.get('contact')?.errors?.['required']">
                                        Contact No is Required.
                                    </span>
                                    <span *ngIf="regform.get('contact')?.errors?.['pattern']">Enter proper contact
                                        no.</span>
                                </small>
                            </div>
                        </div>
                    </div>


                    <div class="col6">

                        <label for="Dept">Department<span class="text-danger">*</span></label>
                        <div class="form-group  dept_valid  ">
                            <select [(ngModel)]="department" formControlName="deptId" class="form-select mt-2"
                                aria-label=".form-select-lg example">
                                <option [value]="null" [disabled]="true" [selected]="true">
                                    Select Department
                                </option>
                                <option *ngFor="let item of department_items" value={{item.value}}>
                                    {{item.name}}
                                </option>
                            </select>
                            <div class="text-danger"
                                *ngIf="regform.controls['deptId']?.invalid && regform.controls['deptId'].touched"
                                class="">
                                <small class="text-danger smallText "
                                    *ngIf="regform.get('deptId')?.touched && regform.get('deptId')?.hasError('required')">Department
                                    is required.</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col7">


                        <div class="form-group">

                            <label for="address"> Address<span class="text-danger">*</span></label>
                            <input type="text " formControlName="address" placeholder="Enter address"
                                class="form-control form_field " name="address" id="address" size="30" required>
                            <div class="add_valid ">
                                <div class="text-danger"
                                    *ngIf="regform.controls['address']?.invalid && regform.controls['address'].touched"
                                    class="">
                                    <small class="text-danger smallText "
                                        *ngIf="regform.get('address')?.touched && regform.get('address')?.hasError('required')">Address
                                        is required.</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col8">

                        <label for="joinDate">Joining Date<span class="text-danger">*</span></label>
                        <div class="form-group joindate_valid ">
                            <input formControlName="joinDate" type="Date" name=" joinDate" title=" joinDate"
                                class="form-control form_field" size="30" readonly="readonly">

                            <div class="text-danger"
                                *ngIf="regform.controls['joinDate']?.invalid && regform.controls['joinDate'].touched"
                                class="">
                                <small class="text-danger smallText "
                                    *ngIf="regform.get('joinDate')?.touched && regform.get('joinDate')?.hasError('required')">Joining
                                    Date
                                    is required.</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col9">
                        <label for="dob">Birth Date<span class="text-danger">*</span></label>
                        <div class="form-group birthdate_valid">
                            <input formControlName="dob" type="Date" name="dob" class="form-control form_field" id="dob"
                                size="30">
                            <div class="text-danger"
                                *ngIf="regform.controls['dob']?.invalid && regform.controls['dob'].touched" class="">
                                <small class="text-danger smallText "
                                    *ngIf="regform.get('dob')?.touched && regform.get('dob')?.hasError('required')">Birth
                                    Date
                                    is required.</small>
                            </div>
                        </div>
                    </div>


                    <div class="col10">
                        <label for="gender">Gender<span class="text-danger">*</span></label>
                        <div class="form-group gender_valid">
                            <select [(ngModel)]="gender" formControlName="gender" class="form-select mt-2"
                                aria-label=".form-select-lg example">
                                <option [value]="null" [disabled]="true" [selected]="true">
                                    Choose gender
                                </option>
                                <option *ngFor="let item of gender_items" value={{item}}>
                                    {{item}}
                                </option>
                            </select>
                            <div class="text-danger"
                                *ngIf="regform.controls['gender']?.invalid && regform.controls['gender'].touched"
                                class="">
                                <small class="text-danger smallText "
                                    *ngIf="regform.get('gender')?.touched && regform.get('gender')?.hasError('required')">Gender
                                    is required.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="button-23 addEmpbutton" (click)=" updateEmpdetails()">Update
                        Employee</button>
                    <button type="submit" class="button-23 addEmpbutton" (click)="adminPage()"> Cancel</button>

                </div>
            </div>
        </form>
    </div>
</div>
<p-toast></p-toast>